<!doctype html>
<%inherit file="master.mak" />

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hack Upstate</title>
</head>
<body>
<div class="row">
    <div class="col-md-6" id="map-canvas"></div>
    </div>
</div>
</body>
<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX&sensor=false"></script>
<script src="/static/js/script.js"></script>
</html>
